.quizContainer {
  position: relative;
  border: 1px solid #ffffff00;
  border-radius: 8px;
  padding: 8px;
  padding-bottom: 20px;
  color: unset;
  text-decoration: none;

  cursor: pointer;

  transition: background-color 0.2s ease;
}

.quizContainer:has(:global(.Loading)) {
  cursor: default;
  pointer-events: none;
}

.quizContainer:hover {
  background-color: var(--background-main-complementary);
}

.quizImageContainer {
  position: relative;
  width: 100%;
  padding-top: 56.25%;

  border-radius: 8px;
  overflow: hidden;
}

.quizImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quizGenre {
  position: absolute;
  top: 4px;
  left: 16px;
  z-index: 10;
  font-size: 14px;
  font-weight: 400;
  margin-top: 12px;
  color: rgb(255, 255, 255);
  padding: 2px 8px;
  border-radius: 8px;

  background-color: #2b2e42b4;
}

.quizTitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
  margin-top: 12px;
}

.quizTitleStub {
  width: 200px;
  height: 20px;
}

.quizCreatorText {
  font-size: 14px;
  font-weight: 500;
  margin-top: 4px;
}

.quizCreatorTextStub {
  width: 100px;
  height: 16px;
}

.creatorImage {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 8px;
  object-fit: cover;
}

.favoriteButton {
  position: absolute;
  top: 5px;
  right: 8px;
  background: none;
  background-color: #2b2e42b4;
  border: none;
  cursor: pointer;
  z-index: 10;
  padding: 4px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.favoriteButton:hover {
  transform: scale(1.2);
}

.favoriteButton #favoriteIcon {
  width: 24px;
  height: 24px;
}
