html {
  --background-main: #070713;
  --background-main-secondary: #070713;
  --background-main-complementary: #191928;
  --accent: #aeb8ff;
  --primary-text: #fff;
  --secondary-text: #ddd;
  --faded-text: #999;
  --dark-text: #333;
  --external-link: #63acff;
  --background: #191718;
  --background-light: #1e6ac2;
  --background-card: #f7f7f7;
  --background-footer: #2f2b28;
  --error: #ff4d4d;
}

body {
  background: linear-gradient(
    30deg,
    var(--background-main) 0%,
    var(--background-main-secondary) 100%
  );
  color: var(--primary-text);
  user-select: none;

  font-family: "Inter", "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Inter", "Roboto", sans-serif;
}

button {
  background-color: var(--background-light);
  color: var(--primary-text);
  border: none;
  cursor: pointer;
}

button:hover {
  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
  transform: scale(0.98);
}

button:active {
  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
  transform: scale(0.98);
  filter: brightness(0.85);
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Loading {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.3) 30%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0.3) 70%,
    rgba(255, 255, 255, 0.3) 100%
  );

  background-size: 400%;
  background-position: 100%;
  background-repeat: no-repeat;
  animation: loading 2s ease infinite;
}

@keyframes loading {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}
